
.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.month {
  width: 23%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  outline: 2px solid black;
  min-height: 350px;
}

.day {
  text-align: center;
  padding: 15px;
}

.day:hover {
  outline: 1px solid black;
}

.empty-day {
  height: 30px;
}

.month h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  width: 98%;
}
button {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  outline: 1px solid black;
}


button:first-child {
  margin-left: 32px;
}

button:last-child {
  margin-right: 16px;
}
