p {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 0;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 0;
}

.month-date {
    font-size: 25px;
}

   .clock {
    position: absolute;
    margin: auto;
    top: 350px;
    left: 1250px;
    right: 0;
    bottom: 0;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 50%;
    border: 24px solid black; 
    background-image:
      radial-gradient(circle at center, red 8px, transparent 8px),
      radial-gradient(circle at center, white 50%, transparent 50%, transparent 65%, white 65%),
      linear-gradient(to right, transparent 50%, red 50%, transparent 51%),
      linear-gradient(to bottom, transparent 50%, red 50%, transparent 51%),
      linear-gradient(-30deg, transparent 50%, red 50%, transparent 51%),
          linear-gradient(30deg, transparent 50%, red 50%, transparent 51%),
       linear-gradient(60deg, transparent 50%, red 50%, transparent 51%),
      linear-gradient(-60deg, transparent 50%, red 50%, transparent 51%);
  }
  
  .hour-hand {
    position: absolute;
    height: 80px;
    width: 8px;
    margin: auto;
    top: -20%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background-color: red;
    transform-origin: bottom;
    transform: rotate(0deg);
  }
  
  .minute-hand {
    position: absolute;
    height: 120px;
    width: 8px;
    margin: auto;
    top: -30%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background-color: red;
    transform-origin: bottom;
    transform: rotate(90deg);
  }
  
  .second-hand {
    position: absolute;
    height: 120px;
    width: 2px;
    margin: auto;
    top: -30%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background-color: red;
    transform-origin: bottom;
    transform: rotate(180deg);
  }